<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
    


        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous">
    </script>
    <link type="text/css" href="static/js/node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <script type="text/javascript" src="static/js/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>





<script type="text/javascript" 
    src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    
<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>
    
<script type="text/javascript" 
    src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>



<link rel="stylesheet" type="text/css"
 href="/static/js/node_modules/bootstrap-daterangepicker/daterangepicker.css"
/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>


<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->
<script type="text/javascript" 
   src="/static/js/busy.min.js">
</script>

</head>

<body>
<div class="container">

<h1>Meeting Scheduler</h1>
<h1>Busy times</h1>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Date range</h2>
<p><b>Please enter a date range.</b></p>
  <form action="/setrange" method="post">
  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>



<h2>Time range</h2>
<p><b>Please enter a time range.</b></p>
<p>Start of Time Range:</p>
<div class="input-group bootstrap-timepicker timepicker">
    <input id="timepicker1" name="starttime" type="text" class="form-control input-small" 
    {% if session.text_beg_time is defined %}
         value="{{session.text_beg_time}}"
    {% endif %}>
    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
</div>
 <script type="text/javascript">
        $('#timepicker1').timepicker();
</script>


<p>End of Time Range:</p>
<div class="input-group bootstrap-timepicker timepicker">
    <input id="timepicker2" name="endtime" type="text" class="form-control input-small"  
    {% if session.text_end_time is defined %}
         value="{{session.text_end_time}}"
    {% endif %}>
    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
</div>
 <script type="text/javascript">
        $('#timepicker2').timepicker();
</script>
  
  
<br /><input type="submit" value="Continue To Choose Calendars" />
</form>

{% if session.calendars is defined  %}
<h2>Please Select The Calendars To Be Used</h2>
  <div class="row">
  {% for cal in session.calendars if cal.selected %}
          <div class="col-md-4">
	   <input id="{{cal.id}}" type="checkbox" {% if cal.id in session.selected_cal|safe %} checked {% endif %} > {{ cal.summary }}
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div>


<button onclick="CalcBusyTimes()">Calculate Busy Times</button>

{% endif %}


{% if session.display_total_busy is defined %}
<h2>Avoiding Conflicts With:</h2>
    {% for conflict_event in session.display_total_busy %}
    <div class="row">
      <div class="col-md-6">  
        {{conflict_event}}
      </div>
    </div>
    {% endfor %}
{% endif %}


    

  </div>  <!-- container (for bootstrap) -->
  
  
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


function CalcBusyTimes(){
    selected_cal = "";
    $('input[type=checkbox]').each(function () {
       if (this.checked)
       {
            console.log(this.id);
            selected_cal = selected_cal + " " + this.id
       }
  });
  
  console.log(selected_cal);
  
    $.ajax({
    dataType: "json",
    url: $SCRIPT_ROOT + '/calcBusyTimes',
    data: {selected: selected_cal},
    complete: function(){ 
            location.assign($SCRIPT_ROOT + '/displayBusyTimes'); }
    });
}


</script>

  </body> </html>